table {
    border: 1px black
}
td:hover {
    background-color:antiquewhite;
    color:aqua;
}
tr, th {
    background-color: black;
    color:blue;
}
tr, td {
    background-color: pink;
    color: white;
}
